<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    .wrap{
      width: 300px;
      margin: 45px auto;
    }
  </style>
</head>

<body>
  <div class="wrap">
    <h1>登陆界面</h1>
    <!-- eggjs 默认有CSRF拦截机制需配置CSRF参数 -->
    <form method="POST" action="/login">
    <!-- <form method="POST" action="/login?_csrf=<%= csrf %>"> -->
      <input type="hidden" name="_csrf" value="<%= csrf %>">

      <input type="text" name="username"><br>
      <input type="password" name="password"><br>
      <input type="submit" value="登陆">
    </form>
  </div>
</body>

</html>
